root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.md]
max_line_length = off

[*.yml]
indent_size = 2

[Vagrantfile]
indent_size = 2